## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [69]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [135]:
# Your code here

list_1 = range(100)
sample_list_1 = random.sample(list_1,k=80)
print(sample_list_1)

[62, 15, 47, 42, 33, 23, 44, 11, 66, 24, 64, 77, 4, 60, 78, 93, 82, 45, 5, 71, 83, 7, 63, 1, 25, 76, 67, 19, 16, 36, 41, 61, 26, 95, 99, 87, 74, 30, 73, 80, 13, 34, 75, 2, 18, 9, 14, 37, 59, 3, 68, 56, 38, 52, 79, 69, 91, 89, 46, 90, 58, 49, 39, 22, 40, 10, 21, 84, 50, 28, 17, 0, 86, 88, 12, 97, 65, 8, 31, 54]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1 = set(sample_list_1)
len(set1)

Yes, it means every element in unique in sample_list_1.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [137]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))

[65, 3, 32, 53, 28, 75, 92, 81, 45, 88, 65, 87, 64, 57, 67, 54, 30, 59, 35, 8, 76, 77, 31, 56, 7, 13, 15, 55, 43, 95, 15, 43, 9, 60, 87, 36, 68, 49, 85, 75, 3, 91, 25, 36, 70, 4, 4, 76, 36, 56, 30, 44, 71, 9, 14, 42, 31, 40, 9, 34, 54, 18, 16, 94, 27, 9, 12, 25, 63, 51, 60, 93, 83, 66, 33, 68, 81, 29, 75, 35]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [138]:
# Your code here
set2 = set(sample_list_2)
len(set2)

## Yes, it is still 80.

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Your code here

set3 = set1-set2

{6, 13, 18, 20, 30, 39, 40, 43, 47, 48, 58, 60, 65, 75, 80, 89, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
# Your code here
set4 = set2-set1

{1, 4, 19, 28, 31, 32, 34, 41, 52, 63, 72, 73, 83, 87, 91, 92, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [31]:
# Your code here
print(len(set1), len(set2), len(set3), len(set4), len(set5))

len(set1)==len(set2)
len(set3)==len(set4)
len(set1)== len(set3)+len(set5)

80 80 17 17 63

True

#### Create an empty set called `set6`.

In [34]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [134]:
# Your code here

set6.update(set5,set3)

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here

set1-set6 == set()

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [43]:
# Your code here

set2.issubset(set1) == True
set3.issubset(set1) == True

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [74]:
# Your code here

set3_4_5 = set3.union(set4).union(set5)
set1_2 = set1.union(set2)

set1_2-set3_4_5 == set()

True

#### Using the `pop` method, remove the first element from `set1`.

In [75]:
# Your code here

print(set1.pop())

6

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [51]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

set_final = set1 - set_to_remove
print(set_final)

{3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 90, 93, 94, 95, 96, 97}