In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')

In [3]:
df_habitat = pd.read_csv('Habitat-3.csv',encoding='latin-1')
df_habitat

,Family,Genus,CommonName,Species,Species (ITIS),Habitat_Forest,Habitat_Savanna,Habitat_Shrubland,Habitat_Grassland,Habitat_Wetlands,Habitat_Rocky areas,Habitat_Desert,Refs1,Refs2
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,1.0,0.0,0.0,0.0,1.0,0.0,0.0,227.0,NaN
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,1.0,0.0,0.0,0.0,0.0,0.0,0.0,227.0,NaN
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,1.0,0.0,1.0,0.0,1.0,0.0,0.0,145.0,245.0
3,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,Allochrocebus_preussi,Allochrocebus_preussi,1.0,0.0,0.0,0.0,0.0,0.0,0.0,376.0,NaN
4,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,Allochrocebus_solatus,Allochrocebus_solatus,1.0,0.0,0.0,0.0,0.0,0.0,0.0,379.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,Cercopithecidae,Trachypithecus,Cat_Ba_Langur,Trachypithecus_poliocephalus,Trachypithecus_poliocephalus,1.0,0.0,1.0,0.0,0.0,0.0,0.0,254.0,199.0
522,Cercopithecidae,Trachypithecus,Selangor_Silvery_Langur,Trachypithecus_selangorensis,Trachypithecus_selangorensis,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1095.0,NaN
523,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,Trachypithecus_shortridgei,Trachypithecus_shortridgei,1.0,0.0,0.0,0.0,0.0,0.0,0.0,227.0,NaN
524,Lemuridae,Varecia,Red_Ruffed_Lemur,Varecia_rubra,Varecia_rubra,1.0,0.0,0.0,0.0,0.0,0.0,0.0,227.0,NaN
525,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,Varecia_variegata,Varecia_variegata,1.0,0.0,0.0,0.0,0.0,0.0,0.0,227.0,NaN

In [4]:
df_habitat.isna().sum()

"""There are some misisng values in Species & Species ITIS, I choose to delete these columns, 
because it does not give many additionnal informations."""

'There are some misisng values in Species & Species ITIS, I choose to delete these columns, \nbecause it does not give many additionnal informations.'

In [13]:
#df_habitat.drop(['Species', 'Species (ITIS)', 'Refs1','Refs2'], axis=1, inplace = True)

df_habitat

,Family,Genus,CommonName,Habitat_Forest,Habitat_Savanna,Habitat_Shrubland,Habitat_Grassland,Habitat_Wetlands,Habitat_Rocky areas,Habitat_Desert
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
521,Cercopithecidae,Trachypithecus,Cat_Ba_Langur,1.0,0.0,1.0,0.0,0.0,0.0,0.0
522,Cercopithecidae,Trachypithecus,Selangor_Silvery_Langur,1.0,0.0,0.0,0.0,0.0,0.0,0.0
523,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,1.0,0.0,0.0,0.0,0.0,0.0,0.0
524,Lemuridae,Varecia,Red_Ruffed_Lemur,1.0,0.0,0.0,0.0,0.0,0.0,0.0
525,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
df_habitat.to_csv('df_habitat_cleaned.csv')
os.listdir()

['HomeRange.csv',
 'TrophicGuild.csv',
 '.DS_Store',
 'Untitled.ipynb',
 'Locomotion.csv',
 'Habitat-3.csv',
 'df_habitat_cleaned.csv',
 'BodyMass_.csv',
 'IUCN_Poptrend_Realm-2.csv',
 '.ipynb_checkpoints',
 'Test monkeys.ipynb']

In [42]:
df_mass = pd.read_csv('BodyMass_.csv',encoding='latin-1')
df_mass

,Family,Genus,CommonName,Species,Species (ITIS),BodyMass_kg,BodyMassMale_kg,BodyMassFemale_kg,Refs1
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,4.65,6.130,3.180,210
1,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,5.95,NaN,NaN,371
2,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,0.08,0.092,0.084,315
3,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,0.08,NaN,NaN,264
4,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,5.00,7.000,3.000,155
...,...,...,...,...,...,...,...,...,...
624,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,Trachypithecus_shortridgei,Trachypithecus_shortridgei,NaN,NaN,NaN,NaN
625,Lemuridae,Varecia,Red_Ruffed_Lemur,Varecia_rubra,Varecia_rubra,3.51,3.550,3.470,290
626,Lemuridae,Varecia,Red_Ruffed_Lemur,Varecia_rubra,Varecia_rubra,3.02,NaN,NaN,264
627,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,Varecia_variegata,Varecia_variegata,3.58,3.630,3.520,285
628,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,Varecia_variegata,Varecia_variegata,3.52,NaN,NaN,264

In [57]:
#df_mass.drop(['Species', 'Species (ITIS)', 'Refs1'], axis=1, inplace = True)

#df_mass.drop(['BodyMassMale_kg', 'BodyMassFemale_kg'],axis=1, inplace=True)

In [66]:
df_mass=df_mass.rename(columns ={'BodyMass_kg': 'Average_Weight'})

In [67]:
df_mass

,Family,Genus,CommonName,Average_Weight
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,4.65
1,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,5.95
2,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,0.08
3,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,0.08
4,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,5.00
...,...,...,...,...
624,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,NaN
625,Lemuridae,Varecia,Red_Ruffed_Lemur,3.51
626,Lemuridae,Varecia,Red_Ruffed_Lemur,3.02
627,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,3.58
628,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,3.52

In [68]:
df_mass.to_csv('BodyMass_cleaned.csv')

In [118]:
df = pd.read_csv('TrophicGuild.csv',encoding='latin-1')
df.isna().sum()

Family                     0
Genus                      0
CommonName                 1
Species                   22
Species (ITIS)            22
TrophicGuild             102
Refs                     102
Fruit                    103
Leaves                   103
Flowers                  104
Seeds                    107
Animal                   102
Gums                     104
Nectar                   103
Other                    104
Region                   102
Country                  103
Data_type                109
Study_duration_months    102
N_groups                 102
Mean_individuals         130
Comments                 108
Unnamed: 22              567
dtype: int64

In [119]:
df.drop(['Species', 'Species (ITIS)'], axis=1, inplace=True)
df.head()

,Family,Genus,CommonName,TrophicGuild,Refs,Fruit,Leaves,Flowers,Seeds,Animal,...,Nectar,Other,Region,Country,Data_type,Study_duration_months,N_groups,Mean_individuals,Comments,Unnamed: 22
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Frugivore,374,81,NI,NI,NI,17,...,NI,NI,NI,NI,NI,NI,NI,NaN,NI,NaN
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Omnivore,315,NI,NI,NI,NI,50-75,...,NI,NI,Captivity,NaN,NI,NI,NI,NaN,NI,NaN
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Omnivore,245,31.43,34.71,NI,3.18,10.34,...,NI,NI,NI,NI,NI,NI,NI,NaN,NI,NaN
3,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,Omnivore,1174,52,NI,NI,NI,NI,...,NI,NI,Kilum,Cameroon,NI,NI,NI,NaN,"Fruits, seeds, leaves, flowers, small aquatic ...",NaN
4,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,Omnivore,155,26,NI,NI,NI,27.5,...,NI,NI,NI,NI,NI,NI,NI,NaN,Fruits and seeds 26%,NaN

In [120]:
df.drop(df.columns[4:],axis=1, inplace=True)

In [124]:
df =df.rename(columns={'TrophicGuild':'Diet'})

In [125]:
df

              Family           Genus                    CommonName       Diet
0    Cercopithecidae  Allenopithecus          Allen_s_Swamp_Monkey  Frugivore
1     Cheirogaleidae       Allocebus       Hairy_eared_Dwarf_Lemur   Omnivore
2    Cercopithecidae   Allochrocebus              L_Hoest_s_Monkey   Omnivore
3    Cercopithecidae   Allochrocebus               Preuss_s_Monkey   Omnivore
4    Cercopithecidae   Allochrocebus             Sun_tailed_Monkey   Omnivore
..               ...             ...                           ...        ...
565  Cercopithecidae  Trachypithecus       Selangor_Silvery_Langur   Folivore
566  Cercopithecidae  Trachypithecus           Shortridge_s_Langur   Folivore
567        Lemuridae         Varecia              Red_Ruffed_Lemur  Frugivore
568        Lemuridae         Varecia  Black_and_white_Ruffed_Lemur  Frugivore
569        Lemuridae         Varecia  Black_and_white_Ruffed_Lemur  Frugivore

[570 rows x 4 columns]

In [126]:
df.to_csv('diet_cleaned.csv')

In [207]:
df= pd.read_csv('IUCN_Poptrend_Realm-2.csv', encoding='latin-1')

In [208]:
df.head(30)

,Family,Genus,CommonName,Species,Species (ITIS),IUCN,Pop_T,IUCN_Evaluation,IUCN&Pop_T_Refs,Realm,Realm_refs
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,LC,NaN,2008.0,227.0,M_Africa,976.0
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,VU,D,2012.0,227.0,Madagascar,976.0
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,VU,D,2008.0,227.0,M_Africa,976.0
3,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,Allochrocebus_preussi,Allochrocebus_preussi,EN,D,2008.0,227.0,M_Africa,976.0
4,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,Allochrocebus_solatus,Allochrocebus_solatus,VU,NaN,2008.0,227.0,M_Africa,976.0
5,Atelidae,Alouatta,Ursine_Red_Howler,Alouatta_arctoidea,Alouatta_arctoidea,LC,NaN,2015.0,227.0,Neotropics,976.0
6,Atelidae,Alouatta,Red_handed_Howler,Alouatta_belzebul,Alouatta_belzebul,VU,D,2008.0,227.0,Neotropics,976.0
7,Atelidae,Alouatta,Paraguayan_Howler,Alouatta_caraya,Alouatta_caraya,LC,D,2008.0,227.0,Neotropics,976.0
8,Atelidae,Alouatta,Spix_s_Howler,Alouatta_discolor,Alouatta_discolor,VU,D,2008.0,227.0,Neotropics,976.0
9,Atelidae,Alouatta,Brown_Howler,Alouatta_guariba,Alouatta_guariba,LC,D,2008.0,227.0,Neotropics,976.0
10,Atelidae,Alouatta,Guianan_Red_Howler,Alouatta_macconnelli,Alouatta_macconnelli,LC,NaN,2008.0,227.0,Neotropics,976.0
11,Atelidae,Alouatta,Amazon_Black_Howler,Alouatta_nigerrima,Alouatta_nigerrima,LC,NaN,2015.0,227.0,Neotropics,976.0
12,Atelidae,Alouatta,Mantled_Howler,Alouatta_palliata,Alouatta_palliata,LC,NaN,2008.0,227.0,Neotropics,976.0
13,Atelidae,Alouatta,Central_American_Black_Howler,Alouatta_pigra,Alouatta_pigra,EN,D,2008.0,227.0,Neotropics,976.0
14,Atelidae,Alouatta,Bolivian_Red_Howler,Alouatta_sara,Alouatta_sara,LC,D,2008.0,227.0,Neotropics,976.0
15,Atelidae,Alouatta,Colombian_Red_Howler,Alouatta_seniculus,Alouatta_seniculus,LC,NaN,2008.0,227.0,Neotropics,976.0
16,Atelidae,Alouatta,MaranhÃ£o_Red_handed_Howler,Alouatta_ululata,Alouatta_ululata,EN,D,2008.0,227.0,Neotropics,976.0
17,Aotidae,Aotus,Azara_s_Night_Monkey,Aotus_azarae,Aotus_azarae,LC,D,2015.0,227.0,Neotropics,976.0
18,Aotidae,Aotus,Brumback_s_Night_Monkey,Aotus_brumbacki,Aotus_brumbacki,VU,D,2008.0,227.0,Neotropics,976.0
19,Aotidae,Aotus,Gray_legged_Night_Monkey,Aotus_griseimembra,Aotus_griseimembra,VU,D,2008.0,227.0,Neotropics,976.0
20,Aotidae,Aotus,HernÃ¡ndez_Camacho_s_Night_Monkey,Aotus_jorgehernandezi,Aotus_jorgehernandezi,DD,NaN,2015.0,227.0,Neotropics,976.0
21,Aotidae,Aotus,Lemurine_Night_Monkey,Aotus_lemurinus,Aotus_lemurinus,VU,D,2008.0,227.0,Neotropics,976.0
22,Aotidae,Aotus,Andean_Night_Monkey,Aotus_miconax,Aotus_miconax,VU,D,2008.0,227.0,Neotropics,976.0
23,Aotidae,Aotus,Ma_s_Night_Monkey,Aotus_nancymaae,Aotus_nancymaae,VU,NaN,2017.0,227.0,Neotropics,976.0
24,Aotidae,Aotus,Black_headed_Night_Monkey,Aotus_nigriceps,Aotus_nigriceps,LC,NaN,2015.0,227.0,Neotropics,976.0
25,Aotidae,Aotus,Humboldt_s_Night_Monkey,Aotus_trivirgatus,Aotus_trivirgatus,LC,NaN,2015.0,227.0,Neotropics,976.0
26,Aotidae,Aotus,Spix_s_Night_Monkey,Aotus_vociferans,Aotus_vociferans,LC,D,2015.0,227.0,Neotropics,976.0
27,Aotidae,Aotus,Panamanian_Night_Monkey,Aotus_zonalis,Aotus_zonalis,DD,NaN,2008.0,227.0,Neotropics,976.0
28,Lorisidae,Arctocebus,Golden_Angwantibo,Arctocebus_aureus,Arctocebus_aureus,LC,NaN,2008.0,227.0,M_Africa,976.0
29,Lorisidae,Arctocebus,Calabar_Angwantibo,Arctocebus_calabarensis,Arctocebus_calabarensis,LC,NaN,2008.0,227.0,M_Africa,976.0

In [190]:
df.drop(['Species', 'Species (ITIS)'], axis=1, inplace=True)

In [191]:
df.drop(df.columns[4:],axis=1, inplace=True)

In [192]:
df =df.rename(columns={'IUCN':'Status'})

In [193]:
df.to_csv('Status_IUCN.csv')

In [209]:
df = pd.read_csv('HomeRange.csv', encoding='latin-1')
df.head(30)

,Family,Genus,CommonName,Species,Species (ITIS),HomeRange_ha,Low_range,High_range,N_groups,Mean_individuals,Method,Alternative_HomeRange_ha,Alternative_HomeRange_method,Study_duration_months,Refs
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,25.750,16,35.5,2,3,Minimum convex polygon,10.4,Kernel density estimators,8,373.0
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,116.600,NI,NI,NI,NI,NI,NI,NI,NI,1174.0
3,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,61.325,51.81,70.84,2,27,Kernel density estimators,75.5,Minimum convex polygon,11,245.0
4,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,Allochrocebus_preussi,Allochrocebus_preussi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,Allochrocebus_solatus,Allochrocebus_solatus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Atelidae,Alouatta,Ursine_Red_Howler,Alouatta_arctoidea,Alouatta_arctoidea,7.520,NI,NI,NI,NI,NI,NI,NI,NI,381.0
7,Atelidae,Alouatta,Ursine_Red_Howler,Alouatta_arctoidea,Alouatta_arctoidea,14.500,4,25,NI,NI,NI,NI,NI,NI,380.0
8,Atelidae,Alouatta,Ursine_Red_Howler,Alouatta_arctoidea,Alouatta_arctoidea,5.500,4,7,NI,NI,NI,NI,NI,NI,393.0
9,Atelidae,Alouatta,Red_handed_Howler,Alouatta_belzebul,Alouatta_belzebul,7.125,4.75,9.5,2,7,NI,NI,NI,15,382.0
10,Atelidae,Alouatta,Red_handed_Howler,Alouatta_belzebul,Alouatta_belzebul,15.750,13.5,18.05,NI,NI,NI,NI,NI,NI,383.0
11,Atelidae,Alouatta,Paraguayan_Howler,Alouatta_caraya,Alouatta_caraya,1.950,1.7,2.2,2,18.5,NI,NI,NI,17,2.0
12,Atelidae,Alouatta,Paraguayan_Howler,Alouatta_caraya,Alouatta_caraya,11.875,5,18.75,2,11.5,Scanning,9.8,Minimum convex polygon,12,384.0
13,Atelidae,Alouatta,Spix_s_Howler,Alouatta_discolor,Alouatta_discolor,69.000,NI,NI,NI,NI,NI,NI,NI,NI,388.0
14,Atelidae,Alouatta,Spix_s_Howler,Alouatta_discolor,Alouatta_discolor,50.100,NI,NI,1,07-sep,Grid cell approach,63.2,Minimum convex polygon,13,389.0
15,Atelidae,Alouatta,Brown_Howler,Alouatta_guariba,Alouatta_guariba,26.000,NI,NI,1(12,12,Minimum convex polygon,12.5,Grid cell approach,12,390.0
16,Atelidae,Alouatta,Brown_Howler,Alouatta_guariba,Alouatta_guariba,4.130,NI,NI,1(6,6,Grid cell approach,NI,NI,12,1206.0
17,Atelidae,Alouatta,Guianan_Red_Howler,Alouatta_macconnelli,Alouatta_macconnelli,45.000,NI,NI,1,6,NI,NI,NI,19,1207.0
18,Atelidae,Alouatta,Guianan_Red_Howler,Alouatta_macconnelli,Alouatta_macconnelli,6.620,NI,NI,26,8.5,NI,NI,NI,17,395.0
19,Atelidae,Alouatta,Amazon_Black_Howler,Alouatta_nigerrima,Alouatta_nigerrima,25.000,5,45,NI,NI,NI,NI,NI,NI,3.0
20,Atelidae,Alouatta,Mantled_Howler,Alouatta_palliata,Alouatta_palliata,40.450,4.9,76,NI,NI,NI,NI,NI,NI,392.0
21,Atelidae,Alouatta,Central_American_Black_Howler,Alouatta_pigra,Alouatta_pigra,16.860,9.3,24.5,6,5.6,Other,NI,NI,14,397.0
22,Atelidae,Alouatta,Central_American_Black_Howler,Alouatta_pigra,Alouatta_pigra,7.100,5.6,9,3,7.83,Kernel density estimators,NI,NI,16,398.0
23,Atelidae,Alouatta,Bolivian_Red_Howler,Alouatta_sara,Alouatta_sara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Atelidae,Alouatta,Colombian_Red_Howler,Alouatta_seniculus,Alouatta_seniculus,22.000,NI,NI,1,09-oct,NI,NI,NI,16,403.0
25,Atelidae,Alouatta,Colombian_Red_Howler,Alouatta_seniculus,Alouatta_seniculus,6.620,NI,NI,26,8.5,NI,NI,NI,17,395.0
26,Atelidae,Alouatta,Colombian_Red_Howler,Alouatta_seniculus,Alouatta_seniculus,182.000,NI,NI,1,07-ago,NI,NI,NI,10,404.0
27,Atelidae,Alouatta,MaranhÃ£o_Red_handed_Howler,Alouatta_ululata,Alouatta_ululata,24.740,13.85,35.62,2,43,Adaptative Kernel,12.85,Minimum convex polygon,NI,4.0
28,Aotidae,Aotus,Azara_s_Night_Monkey,Aotus_azarae,Aotus_azarae,7.000,4,10,NI,NI,NI,NI,NI,NI,407.0
29,Aotidae,Aotus,Brumback_s_Night_Monkey,Aotus_brumbacki,Aotus_brumbacki,17.500,NI,NI,NI,NI,NI,NI,NI,NI,410.0

In [210]:
df.drop(['Species', 'Species (ITIS)'], axis=1, inplace=True)

In [211]:
df.drop(df.columns[4:], axis=1, inplace=True)

In [212]:
df

,Family,Genus,CommonName,HomeRange_ha
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,NaN
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,25.750
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,116.600
3,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,61.325
4,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,NaN
...,...,...,...,...
743,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,NaN
744,Lemuridae,Varecia,Red_Ruffed_Lemur,24.550
745,Lemuridae,Varecia,Red_Ruffed_Lemur,10.500
746,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,116.670
747,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,139.000

In [213]:
df = df.rename(columns={'HomeRange_ha':'Territory (ha)'})

In [214]:
"""Je veux remplacer les rangs duplicatas, oÃ¹ il y a eu plusieurs observations de la mÃªme espÃ¨ce par la 
moyenne des territoires observÃ©s"""

'Je veux remplacer les rangs duplicatas, oÃ¹ il y a eu plusieurs observations de la mÃªme espÃ¨ce par la \nmoyenne des territoires observÃ©s'

In [215]:
mean_terr_Spider_Monkey = (df.loc[df['CommonName']=='Central_American_Spider_Monkey', 'Territory (ha)'].mean())

In [216]:
df.loc[df['CommonName']=='Central_American_Spider_Monkey', 'Territory (ha)']=round(mean_terr_Spider_Monkey)

In [217]:
df.loc[df['CommonName']=='Central_American_Spider_Monkey', 'Territory (ha)'].astype(int)

51    388
52    388
53    388
54    388
55    388
56    388
57    388
Name: Territory (ha), dtype: int64

In [225]:
df = df.drop([52,53, 54, 55, 56, 57])

In [230]:
df.loc[df['CommonName']=='Central_American_Spider_Monkey', 'Territory (ha)'].astype(int)

51    388
Name: Territory (ha), dtype: int64

In [231]:
df.shape

(742, 4)

In [232]:
df.CommonName.value_counts()

White_bellied_Spider_Monkey       6
Colombian_White_faced_Capuchin    6
White_faced_saki                  5
Japanese_Macaque                  5
Silvery_Marmoset                  5
                                 ..
Long_tailed_Macaque               1
Angolan_Dwarf_Galago              1
White_whiskered_Spider_Monkey     1
Red_tailed_Monkey                 1
Moor_Macaque                      1
Name: CommonName, Length: 518, dtype: int64

In [233]:
mean_terr_Spider_Monkey2 = (df.loc[df['CommonName']=='White_bellied_Spider_Monkey', 'Territory (ha)'].mean())

In [234]:
df.loc[df['CommonName']=='White_bellied_Spider_Monkey', 'Territory (ha)']=round(mean_terr_Spider_Monkey2)

In [235]:
df.loc[df['CommonName']=='White_bellied_Spider_Monkey', 'Territory (ha)'].astype(int)

43    270
44    270
45    270
46    270
47    270
48    270
Name: Territory (ha), dtype: int64

In [236]:
df = df.drop([44,45,46,47,48])

In [237]:
df.shape

(737, 4)

In [238]:
mean_Colombian = (df.loc[df['CommonName']=='Colombian_White_faced_Capuchin', 'Territory (ha)'].mean())

In [239]:
df.loc[df['CommonName']=='Colombian_White_faced_Capuchin', 'Territory (ha)']=round(mean_Colombian)

In [241]:
df.loc[df['CommonName']=='Colombian_White_faced_Capuchin', 'Territory (ha)'].astype(int)

114    103
115    103
116    103
117    103
118    103
119    103
Name: Territory (ha), dtype: int64

In [244]:
 df=df.drop([115,116,117,118,119])

In [245]:
df.CommonName.value_counts()

Spix_s_Saddle_back_Tamarin       5
White_faced_saki                 5
Japanese_Macaque                 5
Silvery_Marmoset                 5
Grivet_Monkey                    5
                                ..
Long_tailed_Macaque              1
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Red_tailed_Monkey                1
Moor_Macaque                     1
Name: CommonName, Length: 518, dtype: int64

In [246]:
mean_Tamarin = (df.loc[df['CommonName']=='Spix_s_Saddle_back_Tamarin', 'Territory (ha)'].mean())
df.loc[df['CommonName']=='Spix_s_Saddle_back_Tamarin', 'Territory (ha)']=round(mean_Tamarin)
df.loc[df['CommonName']=='Spix_s_Saddle_back_Tamarin', 'Territory (ha)'].astype(int)

299    78
300    78
301    78
302    78
303    78
Name: Territory (ha), dtype: int64

In [247]:
df = df.drop([300,301,302,303])

In [248]:
mean_saki = (df.loc[df['CommonName']=='White_faced_saki', 'Territory (ha)'].mean())
df.loc[df['CommonName']=='White_faced_saki', 'Territory (ha)']=round(mean_saki)
df.loc[df['CommonName']=='White_faced_saki', 'Territory (ha)'].astype(int)

547    48
548    48
549    48
550    48
551    48
Name: Territory (ha), dtype: int64

In [249]:
df=df.drop([548,549,550,551])

In [250]:
mean_jap = (df.loc[df['CommonName']=='Japanese_Macaque', 'Territory (ha)'].mean())
df.loc[df['CommonName']=='Japanese_Macaque', 'Territory (ha)']=round(mean_jap)
df.loc[df['CommonName']=='Japanese_Macaque', 'Territory (ha)'].astype(int)

370    315
371    315
372    315
373    315
374    315
Name: Territory (ha), dtype: int64

In [251]:
df = df.drop([371,372,373,374])

In [255]:
df.CommonName.value_counts()

Silvery_Marmoset                 5
Grivet_Monkey                    5
Mandrill                         4
Buffy_tufted_ear_Marmoset        4
Yunnan_Snub_nosed_Monkey         4
                                ..
Long_tailed_Macaque              1
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Red_tailed_Monkey                1
Moor_Macaque                     1
Name: CommonName, Length: 518, dtype: int64

In [262]:
mean_silver = (df.loc[df['CommonName']=='Silvery_Marmoset', 'Territory (ha)'].mean())
df.loc[df['CommonName']=='Silvery_Marmoset', 'Territory (ha)']=round(mean_silver)
df.loc[df['CommonName']=='Silvery_Marmoset', 'Territory (ha)'].astype(int)

406    17
407    17
408    17
409    17
410    17
Name: Territory (ha), dtype: int64

In [264]:
 df=df.drop([407,408,409,410])

In [265]:
mean_griv = (df.loc[df['CommonName']=='Grivet_Monkey', 'Territory (ha)'].mean())
df.loc[df['CommonName']=='Grivet_Monkey', 'Territory (ha)']=round(mean_griv)
df.loc[df['CommonName']=='Grivet_Monkey', 'Territory (ha)'].astype(int)

193    54
194    54
195    54
196    54
197    54
Name: Territory (ha), dtype: int64

In [266]:
df=df.drop([194,195,196,197])

In [303]:
def clean(x):
    
    mean = (df.loc[df['CommonName']==x, 'Territory (ha)'].mean())
    df.loc[df['CommonName']==x, 'Territory (ha)']=round(mean)
    df.loc[df['CommonName']==x, 'Territory (ha)'].astype(int)
    
    return df.loc[df['CommonName']==x]

In [283]:
df.CommonName.value_counts()

Buffy_tufted_ear_Marmoset        4
Yunnan_Snub_nosed_Monkey         4
Ornate_Titi                      4
Mandrill                         4
Pygmy_Marmoset                   3
                                ..
Buffy_Saki                       1
Long_tailed_Macaque              1
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Moor_Macaque                     1
Name: CommonName, Length: 518, dtype: int64

In [288]:
clean('Yunnan_Snub_nosed_Monkey')

In [297]:
df.loc[df['CommonName']=='Yunnan_Snub_nosed_Monkey']

              Family          Genus                CommonName  Territory (ha)
632  Cercopithecidae  Rhinopithecus  Yunnan_Snub_nosed_Monkey          2094.0
633  Cercopithecidae  Rhinopithecus  Yunnan_Snub_nosed_Monkey          2094.0
634  Cercopithecidae  Rhinopithecus  Yunnan_Snub_nosed_Monkey          2094.0
635  Cercopithecidae  Rhinopithecus  Yunnan_Snub_nosed_Monkey          2094.0

In [298]:
df=df.drop([633,634,635])

In [301]:
clean('Buffy_tufted_ear_Marmoset')

In [302]:
df.loc[df['CommonName']=='Buffy_tufted_ear_Marmoset']

            Family       Genus                 CommonName  Territory (ha)
91  Callitrichidae  Callithrix  Buffy_tufted_ear_Marmoset            23.0
92  Callitrichidae  Callithrix  Buffy_tufted_ear_Marmoset            23.0
93  Callitrichidae  Callithrix  Buffy_tufted_ear_Marmoset            23.0
94  Callitrichidae  Callithrix  Buffy_tufted_ear_Marmoset            23.0

In [304]:
df = df.drop([92,93,94])

In [306]:
df.CommonName.value_counts()

Ornate_Titi                   4
Mandrill                      4
Humboldt_s_Woolly_Monkey      3
Verreaux_s_Sifaka             3
Golden_headed_Lion_Tamarin    3
                             ..
Syke_s_Monkey                 1
Buffy_Saki                    1
Long_tailed_Macaque           1
Angolan_Dwarf_Galago          1
Moor_Macaque                  1
Name: CommonName, Length: 518, dtype: int64

In [307]:
clean('Ornate_Titi')

          Family          Genus   CommonName  Territory (ha)
573  Pitheciidae  Plecturocebus  Ornate_Titi             7.0
574  Pitheciidae  Plecturocebus  Ornate_Titi             7.0
575  Pitheciidae  Plecturocebus  Ornate_Titi             7.0
576  Pitheciidae  Plecturocebus  Ornate_Titi             7.0

In [311]:
df=df.drop([574,575,576])

In [313]:
clean('Mandrill')

              Family       Genus CommonName  Territory (ha)
401  Cercopithecidae  Mandrillus   Mandrill          6160.0
402  Cercopithecidae  Mandrillus   Mandrill          6160.0
403  Cercopithecidae  Mandrillus   Mandrill          6160.0
404  Cercopithecidae  Mandrillus   Mandrill          6160.0

In [314]:
df=df.drop([402,403,404])

In [315]:
clean('Humboldt_s_Woolly_Monkey')

       Family      Genus                CommonName  Territory (ha)
290  Atelidae  Lagothrix  Humboldt_s_Woolly_Monkey           465.0
291  Atelidae  Lagothrix  Humboldt_s_Woolly_Monkey           465.0
292  Atelidae  Lagothrix  Humboldt_s_Woolly_Monkey           465.0

In [316]:
df = df.drop([291,292])

In [317]:
clean('Verreaux_s_Sifaka')

        Family        Genus         CommonName  Territory (ha)
622  Indriidae  Propithecus  Verreaux_s_Sifaka             6.0
623  Indriidae  Propithecus  Verreaux_s_Sifaka             6.0
624  Indriidae  Propithecus  Verreaux_s_Sifaka             6.0

In [319]:
df=df.drop([623,624])

In [320]:
df.CommonName.value_counts()

Francois_s_Langur                3
Ashy_Red_Colobus                 3
Black_tufted_ear_Marmoset        3
Ursine_Red_Howler                3
Olive_Baboon                     3
                                ..
Buffy_Saki                       1
Long_tailed_Macaque              1
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Moor_Macaque                     1
Name: CommonName, Length: 518, dtype: int64

In [321]:
clean('Francois_s_Langur')

              Family           Genus         CommonName  Territory (ha)
726  Cercopithecidae  Trachypithecus  Francois_s_Langur            37.0
727  Cercopithecidae  Trachypithecus  Francois_s_Langur            37.0
728  Cercopithecidae  Trachypithecus  Francois_s_Langur            37.0

In [322]:
df=df.drop([726,727])

In [323]:
clean('Ashy_Red_Colobus')

              Family         Genus        CommonName  Territory (ha)
528  Cercopithecidae  Piliocolobus  Ashy_Red_Colobus           133.0
529  Cercopithecidae  Piliocolobus  Ashy_Red_Colobus           133.0
530  Cercopithecidae  Piliocolobus  Ashy_Red_Colobus           133.0

In [324]:
df=df.drop([529,530])

In [326]:
clean('Mustached_Tamarin')

             Family     Genus         CommonName  Territory (ha)
653  Callitrichidae  Saguinus  Mustached_Tamarin            86.0
654  Callitrichidae  Saguinus  Mustached_Tamarin            86.0
655  Callitrichidae  Saguinus  Mustached_Tamarin            86.0

In [327]:
df=df.drop([654,655])

In [328]:
clean('Ursine_Red_Howler')

     Family     Genus         CommonName  Territory (ha)
6  Atelidae  Alouatta  Ursine_Red_Howler             9.0
7  Atelidae  Alouatta  Ursine_Red_Howler             9.0
8  Atelidae  Alouatta  Ursine_Red_Howler             9.0

In [329]:
df=df.drop([7,8])

In [330]:
df.CommonName.value_counts()

Bornean_Orangutan                3
Black_Lion_Tamarin               3
Northern_Lesser_Galago           3
Tanzania_Coast_Dwarf_Galago      3
Assamese_Macaque                 3
                                ..
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Red_tailed_Monkey                1
Hairy_Saki                       1
Moor_Macaque                     1
Name: CommonName, Length: 518, dtype: int64

In [335]:
clean('Bornean_Orangutan')
df=df.drop([584,585])

KeyError: '[584 585] not found in axis'

In [338]:
clean('Black_Lion_Tamarin')
df=df.drop([319])

In [340]:
clean('Northern_Lesser_Galago')
df=df.drop([245,246])

In [342]:
clean('Tanzania_Coast_Dwarf_Galago')
df=df.drop([255,502])

In [344]:
clean('Assamese_Macaque')
df.drop([364,365])

,Family,Genus,CommonName,Territory (ha)
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,NaN
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,25.750
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,116.600
3,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,61.325
4,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,NaN
...,...,...,...,...
743,Cercopithecidae,Trachypithecus,Shortridge_s_Langur,NaN
744,Lemuridae,Varecia,Red_Ruffed_Lemur,24.550
745,Lemuridae,Varecia,Red_Ruffed_Lemur,10.500
746,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,116.670
747,Lemuridae,Varecia,Black_and_white_Ruffed_Lemur,139.000

In [348]:
df.CommonName.value_counts()

Olive_Baboon                     3
Indochinese_Gray_Langur          3
Taiwanese_Macaque                3
Colombian_Red_Howler             3
Black_tufted_ear_Marmoset        3
                                ..
Long_tailed_Macaque              1
Angolan_Dwarf_Galago             1
White_whiskered_Spider_Monkey    1
Red_tailed_Monkey                1
Moor_Macaque                     1
Name: CommonName, Length: 517, dtype: int64

In [350]:
clean('Olive_Baboon')
df=df.drop([488,489])

In [352]:
clean('Indochinese_Gray_Langur')
df=df.drop([720,721])

In [354]:
clean('Taiwanese_Macaque')
df=df.drop([367,368])

In [356]:
clean('Colombian_Red_Howler')
df=df.drop([25,26])

In [358]:
clean('Black_tufted_ear_Marmoset')
df=df.drop([103,104])

In [359]:
df.CommonName.value_counts()

Northern_White_cheeked_Crested_Gibbon    3
East_Javan_Langur                        3
Assamese_Macaque                         3
Western_Gorilla                          3
Goeldi_s_Monkey*                         3
                                        ..
White_whiskered_Spider_Monkey            1
Red_tailed_Monkey                        1
Hairy_Saki                               1
Red_eared_Monkey                         1
Moor_Macaque                             1
Name: CommonName, Length: 517, dtype: int64

In [362]:
clean('Northern_White_cheeked_Crested_Gibbon')
df=df.drop([467])

In [364]:
clean('East_Javan_Langur')
df=df.drop([717,718])

In [366]:
clean('Assamese_Macaque')
df=df.drop([364,365])

In [368]:
clean('Western_Gorilla')
df=df.drop([258,259])

In [370]:
clean('Goeldi_s_Monkey*')
df=df.drop([89,90])

In [371]:
df.CommonName.value_counts()

Wied_s_Black_tufted_ear_Marmoset    3
Chimpanzee                          3
Lar_Gibbon                          3
Pygmy_Marmoset                      3
Golden_headed_Lion_Tamarin          3
                                   ..
Hairy_Saki                          1
Red_eared_Monkey                    1
Anjiahely_Mouse_Lemur               1
Temminick_s_Red_Colobus             1
Moor_Macaque                        1
Name: CommonName, Length: 516, dtype: int64

In [373]:
clean('Wied_s_Black_tufted_ear_Marmoset')
df=df.drop([100,101])

In [375]:
clean('Chimpanzee')
df=df.drop([485,486])

In [377]:
clean('Lar_Gibbon')
df=df.drop([279,280])

In [379]:
clean('Pygmy_Marmoset')
df=df.drop([108,109])

In [381]:
clean('Golden_headed_Lion_Tamarin')
df=df.drop([315,316])

In [383]:
df.CommonName.value_counts()

Spot_nosed_Monkey               2
Masoala_Fork_marked_Lemur       2
Black_crowned_Dwarf_Marmoset    2
Lemurine_Night_Monkey           2
Agile_Mangabey                  2
                               ..
Hairy_Saki                      1
Red_eared_Monkey                1
Anjiahely_Mouse_Lemur           1
Temminick_s_Red_Colobus         1
Moor_Macaque                    1
Name: CommonName, Length: 516, dtype: int64

In [385]:
clean('Spot_nosed_Monkey')
df=df.drop(163)

In [387]:
clean('Masoala_Fork_marked_Lemur')
df=df.drop(509)

In [393]:
df=df.drop([81,415])

In [394]:
clean('Lemurine_Night_Monkey')

     Family  Genus             CommonName  Territory (ha)
32  Aotidae  Aotus  Lemurine_Night_Monkey             3.0
33  Aotidae  Aotus  Lemurine_Night_Monkey             3.0

In [395]:
df=df.drop(33)

In [397]:
clean('Agile_Mangabey')
df=df.drop(133)

In [398]:
df.CommonName.value_counts()

Bengal_Sacred_Langur       2
Nepal_Sacred_Langur        2
Blond_Capuchin             2
Chamba_Sacred_Langur       2
Greater_Bamboo_Lemur       2
                          ..
Red_eared_Monkey           1
Anjiahely_Mouse_Lemur      1
Temminick_s_Red_Colobus    1
Stephen_Nash_s_Titi        1
Moor_Macaque               1
Name: CommonName, Length: 515, dtype: int64

In [400]:
clean('Bengal_Sacred_Langur')
df=df.drop(690)

In [402]:
clean('Nepal_Sacred_Langur')
df=df.drop(698)

In [404]:
clean('Blond_Capuchin')
df=df.drop(674)

In [406]:
clean('Chamba_Sacred_Langur')
df=df.drop(689)

In [408]:
clean('Greater_Bamboo_Lemur')
df=df.drop(609)

In [409]:
df.CommonName.value_counts()

Black_and_white_Ruffed_Lemur    2
Diana_Monkey                    2
Black_shanked_Douc              2
Lac_Alaotra_Bamboo_Lemur        2
Yellow_breasted_Capuchin        2
                               ..
Temminick_s_Red_Colobus         1
Stephen_Nash_s_Titi             1
Southern_Bamboo_Lemur           1
Golden_bellied_Mangabey         1
Moor_Macaque                    1
Name: CommonName, Length: 515, dtype: int64

In [412]:
clean('Black_and_white_Ruffed_Lemur')
df=df.drop(747)

In [415]:
clean('Diana_Monkey')
df=df.drop(147)

In [417]:
clean('Black_shanked_Douc')
df=df.drop(628)

In [419]:
clean('Lac_Alaotra_Bamboo_Lemur')
df=df.drop(261)

In [421]:
clean('Yellow_breasted_Capuchin')
df=df.drop(680)

In [422]:
df.CommonName.value_counts()

Diademed_Sifaka            2
Ankarana_Sportive_Lemur    2
Red_bellied_Lemur          2
Perrier_s_Sifaka           2
Nilgiri_Langur             2
                          ..
Stephen_Nash_s_Titi        1
Southern_Bamboo_Lemur      1
Golden_bellied_Mangabey    1
Mottled_face_Tamarin       1
Moor_Macaque               1
Name: CommonName, Length: 515, dtype: int64

In [425]:
clean('Diademed_Sifaka')
df=df.drop(615)

In [427]:
clean('Ankarana_Sportive_Lemur')
df=df.drop(325)

In [429]:
clean('Red_bellied_Lemur')
df=df.drop(231)

In [431]:
clean('Perrier_s_Sifaka')
df=df.drop(619)

In [433]:
clean('Nilgiri_Langur')
df=df.drop(695)

In [434]:
df.CommonName.value_counts()

Indri                           2
Bald_Uacari                     2
Western_Black_handed_Tamarin    2
Gray_brown_Mouse_Lemur          2
Weasel_Sportive_Lemur           2
                               ..
Stephen_Nash_s_Titi             1
Southern_Bamboo_Lemur           1
Golden_bellied_Mangabey         1
Mottled_face_Tamarin            1
Moor_Macaque                    1
Name: CommonName, Length: 515, dtype: int64

In [436]:
clean('Indri')
df=df.drop(286)

In [439]:
clean('Bald_Uacari')
df=df.drop(76)

In [441]:
clean('Western_Black_handed_Tamarin')
df=df.drop(657)

In [443]:
clean('Gray_brown_Mouse_Lemur')
df=df.drop(433)

In [445]:
clean('Weasel_Sportive_Lemur')
df=df.drop(339)

In [454]:
df.CommonName.value_counts()

Southern_White_cheeked_Crested_Gibbon    2
Gray_cheeked_Mangabey                    2
Mountain_Dwarf_Galago                    2
Thomas_s_Langur                          2
Coquerel_s_Giant_Mouse_Lemur             2
                                        ..
Stephen_Nash_s_Titi                      1
Southern_Bamboo_Lemur                    1
Golden_bellied_Mangabey                  1
Mottled_face_Tamarin                     1
Moor_Macaque                             1
Name: CommonName, Length: 515, dtype: int64

In [455]:
clean('Southern_White_cheeked_Crested_Gibbon')
df=df.drop(470)

In [458]:
clean('Gray_cheeked_Mangabey')
df=df.drop(352)

In [462]:
df=df.drop([251,500])

In [464]:
clean('Thomas_s_Langur')
df=df.drop(605)

In [466]:
clean('Coquerel_s_Giant_Mouse_Lemur')
df=df.drop(456)

In [467]:
df.CommonName.value_counts()

Gray_Mouse_Lemur             2
Pied_Tamarin                 2
White_fronted_Brown_Lemur    2
Red_shanked_Douc             2
Midas_Tamarin                2
                            ..
Temminick_s_Red_Colobus      1
Stephen_Nash_s_Titi          1
Southern_Bamboo_Lemur        1
Golden_bellied_Mangabey      1
Moor_Macaque                 1
Name: CommonName, Length: 514, dtype: int64

In [469]:
clean('Gray_Mouse_Lemur')
df=df.drop(443)

In [471]:
clean('Pied_Tamarin')
df=df.drop(642)

In [473]:
clean('White_fronted_Brown_Lemur')
df=df.drop(216)

In [475]:
clean('Red_shanked_Douc')
df=df.drop(627)

In [478]:
clean('Midas_Tamarin')
df=df.drop(652)

In [479]:
df.CommonName.value_counts()

Siberut_Macaque            2
MÃ¼ller_s_Gibbon            2
Gray_Slender_Loris         2
Cotton_top_Tamarin         2
Red_Slender_Loris          2
                          ..
Stephen_Nash_s_Titi        1
Southern_Bamboo_Lemur      1
Golden_bellied_Mangabey    1
Mottled_face_Tamarin       1
Moor_Macaque               1
Name: CommonName, Length: 514, dtype: int64

In [481]:
clean('Siberut_Macaque')
df=df.drop(390)

In [483]:
clean('MÃ¼ller_s_Gibbon')
df=df.drop(283)

In [485]:
clean('Gray_Slender_Loris')
df=df.drop(359)

In [488]:
clean('Cotton_top_Tamarin')
df=df.drop(658)

In [490]:
clean('Red_Slender_Loris')
df=df.drop(361)

In [491]:
df.CommonName.value_counts()

Guianan_Squirrel_Monkey    2
Angolan_Colobus            2
Yellow_Baboon              2
Red_Ruffed_Lemur           2
Eastern_Hoolock_Gibbon     2
                          ..
Stephen_Nash_s_Titi        1
Southern_Bamboo_Lemur      1
Golden_bellied_Mangabey    1
Mottled_face_Tamarin       1
Moor_Macaque               1
Name: CommonName, Length: 514, dtype: int64

In [493]:
clean('Guianan_Squirrel_Monkey')
df=df.drop(667)

In [495]:
clean('Angolan_Colobus')
df=df.drop(204)

In [497]:
clean('Yellow_Baboon')
df=df.drop(491)

In [499]:
clean('Red_Ruffed_Lemur')
df=df.drop(745)

In [503]:
clean('Eastern_Hoolock_Gibbon')
df=df.drop(270)

In [504]:
df.CommonName.value_counts()

Guereza                         2
White_footed_Tamarin            2
Milne_Edwards_s_Potto           2
Proboscis_Monkey                2
Northern_Muriqui                2
                               ..
Southern_Bamboo_Lemur           1
Golden_bellied_Mangabey         1
Mottled_face_Tamarin            1
Montagne_d_Ambre_Dwarf_Lemur    1
Moor_Macaque                    1
Name: CommonName, Length: 514, dtype: int64

In [506]:
clean('Guereza')
df=df.drop(206)

In [509]:
clean('White_footed_Tamarin')
df=df.drop(649)

In [512]:
clean('Milne_Edwards_s_Potto')
df=df.drop(504)

In [514]:
clean('Proboscis_Monkey')
df=df.drop(459)

In [517]:
clean('Northern_Muriqui')
df=df.drop(74)

In [518]:
df.CommonName.value_counts()

Cross_River_Squirrel_Galago      2
Madidi_Titi                      2
WeddellÂ’s_Saddle_back_Tamarin    2
Black_headed_Uacari              2
Black_tailed_Marmoset            2
                                ..
Stephen_Nash_s_Titi              1
Southern_Bamboo_Lemur            1
Golden_bellied_Mangabey          1
Mottled_face_Tamarin             1
Moor_Macaque                     1
Name: CommonName, Length: 514, dtype: int64

In [520]:
clean('Cross_River_Squirrel_Galago')
df=df.drop(684)

In [522]:
clean('Madidi_Titi')
df=df.drop(555)

In [524]:
clean('WeddellÂ’s_Saddle_back_Tamarin')
df=df.drop(311)

In [526]:
clean('Black_headed_Uacari')
df=df.drop(79)

In [528]:
clean('Black_tailed_Marmoset')
df=df.drop(421)

In [533]:
df.CommonName.value_counts()

Stryker_s_Snub_nosed_Monkey     2
Brown_Howler                    2
Southern_Lesser_Galago          2
Variegated_Spider_Monkey        2
Pygmy_Slow_Loris                2
                               ..
Golden_bellied_Mangabey         1
Mottled_face_Tamarin            1
Montagne_d_Ambre_Dwarf_Lemur    1
Delacour_s_Langur               1
Moor_Macaque                    1
Name: CommonName, Length: 514, dtype: int64

In [535]:
clean('Stryker_s_Snub_nosed_Monkey')
df=df.drop(639)

In [537]:
clean('Brown_Howler')
df=df.drop(16)

In [539]:
clean('Southern_Lesser_Galago')
df=df.drop(243)

In [541]:
clean('Variegated_Spider_Monkey')
df=df.drop(59)

In [543]:
clean('Pygmy_Slow_Loris')
df=df.drop(479)

In [545]:
df.to_csv('territoy_wip.csv')

In [546]:
df=pd.read_csv('Locomotion.csv', encoding='latin-1')

In [547]:
df

,Family,Genus,CommonName,Species,Species (ITIS),Locomotion,Refs
0,Cercopithecidae,Allenopithecus,Allen_s_Swamp_Monkey,Allenopithecus_nigroviridis,Allenopithecus_nigroviridis,BOTH,377
1,Cheirogaleidae,Allocebus,Hairy_eared_Dwarf_Lemur,Allocebus_trichotis,Allocebus_trichotis,AR,1163
2,Cercopithecidae,Allochrocebus,L_Hoest_s_Monkey,Allochrocebus_lhoesti,Allochrocebus_lhoesti,T,247
3,Cercopithecidae,Allochrocebus,Preuss_s_Monkey,Allochrocebus_preussi,Allochrocebus_preussi,T,378
4,Cercopithecidae,Allochrocebus,Sun_tailed_Monkey,Allochrocebus_solatus,Allochrocebus_solatus,BOTH,1174
...,...,...,...,...,...,...,...
571,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [548]:
df.drop(['Species', 'Species (ITIS)', 'Refs'], axis=1, inplace=True)